<!doctype html>
<html>
<head>
	<title>File Sharing</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="main-content">
	<div class="header">
		<div class="logo"><a href="index.html"><i class="fa fa-file"></i> File Sharing</a></div>
		<div class="nav-bar">
			<ul>
				<li><a href="/upload">Upload</a></li>
				<li><a href="/signout">Log Out</a></li>
			</ul>
		</div>
	</div>
	<!-- Image by Alan Levine (https://www.flickr.com/photos/cogdog/)
		Shared under CC Attribution 2.0 Generic (CC BY 2.0) -->
	<div class="main">
		<div class="main-text">Welcome to the home page!</div>
		<a href="/signout"><div class="signup-button" >Sign out</div></a>
	</div>
	<div class="push"></div>
</div>
	<div class="footer">FS360 &copy; 2016</div>
</body>
</html>