<!doctype html>
<html>
<head>
	<title>Upload - File Sharing</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="javascripts/page.js"></script>
	<script src='javascripts/upload.js'></script>
</head>
<body ng-app='upload' ng-controller='uploadCtrl'>
<div class="main-content">
	<div class="header">
		<div class="logo"><a href="/"><i class="fa fa-file"></i> File Sharing</a></div>
		<div class="nav-bar">
			<ul>
				<li><a href="/">Upload</a></li>
				<li><a href="/signout">Log Out</a></li>
			</ul>
		</div>
	</div>
	<!-- Image by Alan Levine (https://www.flickr.com/photos/cogdog/)
		Shared under CC Attribution 2.0 Generic (CC BY 2.0) -->
	<div class="upload-content">
		<div class="file-hierarchy">
			<div ng-repeat="file in files">
				<div class="file-desc">Document Name:</div>
				<div class="file-info">{{file.documentname}}</div>
				<div class="file-desc">File:</div>
				<div class="file-info">{{file.filename}}</div>
				<div class="file-desc">Location:</div>
				<div class="file-info">{{file.location}}</div>
				<div class="file-desc">Copies Available:</div>
				<div class="file-info">{{file.copies}}</div>
				<div class="file-desc">Description:</div>
				<div class="file-info">{{file.description}}</div>
				<div class="signup-button" ng-click="download(file)">Download</div>
			</div>
		</div>
		<div class="upload-area">
			<div class="area-content">
				<form>
				<table>
					<tr>
						<td><div class="upload-form-element">Document Name:</div></td>
						<td><input class="form-box" type="text" ng-model="documentName"></td>
					</tr>
					<tr>
						<td><div class="upload-form-element">File Name:</div><span class="explainer">Match file name exactly. Type none if no file</span></td>
						<td><input class="form-box" type="text" ng-model="fileName"></td>
					</tr>
					<tr>
						<td><div class="upload-form-element">Location:</div></td>
						<td><input class="form-box" type="text" ng-model="location"></td>
					</tr>
					<tr>
						<td><div class="upload-form-element">Available Copies:</div><span class="explainer">Leave blank if unlimited</span></td>
						<td><input class="form-box" type="text" ng-model="copies"></td>
					</tr>
					<tr>
						<td><div class="upload-form-element">Description:</div></td>
						<td><input class="form-box" type="text" ng-model="description"></td>
					</tr>
					<tr>
						<td><input type="file" file-model="myFile"/></td>
						<td><div class="signup-button" ng-click='uploadFile()'>Upload</div></td>
					</tr>					
				</table>
				</form>
			</div>
		</div>
	</div>
	<div class="push"></div>
</div>
	<div class="footer">FS360 &copy; 2016</div>
</body>
</html>
